.add-console-container {
  color: #c6ac8f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;
  background-color: #0a0908;
}

.add-console-container h1 {
  font-family: "Monoton", cursive;
}

.add-console-container form {
  display: flex;
  flex-direction: column;
  font-family: "Righteous", cursive;
  background-color: #0a0908;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
}
