.add-console-container {
  color: #c6ac8f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50vh;
}

.add-console-container form {
  display: flex;
  flex-direction: column;
}
