.add-game-container {
  color: #c6ac8f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-game-container form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
