.backlog-gallery {
  display: flex;
  background-color: #0a0908;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-backlog-form {
  color: #c6ac8f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Monoton", cursive;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .add-backlog-form {
    padding-left: 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
}
