.landing-page-container {
  background-color: #0a0908;
  color: #f1210edf;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 45vh;
  z-index: 1;
  padding: 10px;
  border-radius: 5px;
  font-family: "Monoton", cursive;
}

.signup-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 65vh;
  z-index: 1;
  padding: 10px;
  border-radius: 10px;
  font-family: "Monoton", cursive;
}

.videoTag {
  background-color: #0a0908;
  z-index: 0;
}
